* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Red Hat Text', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}


.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container-contact .box {
    position: relative;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: .5s;
}

.container-contact .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 60%;
    height: 100%;
    background-color: yellow;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: .5s;
}

.container-contact .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50px;
    width: 60%;
    height: 100%;
    border-radius: 8px;
    background-color: yellow;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: .5s;


}

.container-contact .box:hover:before,
.container-contact .box:hover:after {
    transform: skewX(15deg);
    left: 50px;
    width: calc(100% - 90px);
}

.container-contact .box:nth-child(1):before,
.container-contact .box:nth-child(1):after {
    background: linear-gradient(100deg, rgb(0, 183, 255), rgb(0, 255, 213));
    
}

.container-contact .box span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    pointer-events: none;
}

.container-contact .box span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: .5s;
    animation: key1 2s linear infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container-contact .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
    text-decoration: none;
}

.container-contact .box span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: .5s;
    animation: key1 2s linear infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

.container-contact .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

h2{
    position: relative;
    bottom: 210px;
    right: 120px;
    z-index: 100;
    transition: 1s;
    color:rgba(110, 108, 108, 0.719);
}

.box:hover h2{
    position: relative;
    bottom: 0;
    transition: 1s;
    right: 0;
    color:#fff;
}

@keyframes key1 {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-20px);
    }
}

.container-contact .box .contenido {
    position: relative;
    left: 0;
    padding: 20px 40px;
    z-index: 1;
    transition: .5s;
}

.container-contact .box:hover .contenido {
    background-color: rgba(255,255,255, .2);
    transition: .5s;
    border: 8px;
    z-index: 1;
}

.boton{
text-decoration: none;
color: white;
position: relative;
top: 50px;
padding: 10px;
left: 20px;
border: 1px solid rgb(255, 255, 255) ;
transition: .5s;
}

.boton:hover{
    background: rgb(19, 138, 235);
    transition: .5s;
    border: none;
    color: rgb(255, 255, 255);
    }